spring:
  application:
    name: apsor-backend

  datasource:
    url: jdbc:postgresql://localhost:5532/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: ${KEYCLOAK_CLIENT_ID}
            client-secret: ${KEYCLOAK_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URL}
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URL}

  # Keycloak Authentication Config
keycloak:
  base-url: ${KEYCLOAK_BASE_URL}
  realm: ${KEYCLOAK_REALM_NAME}
  public-client-id: ${KEYCLOAK_CLIENT_ID}
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}
  auth-server-url: ${KEYCLOAK_BASE_URL}/auth/

app:
  frontend:
    verify-redirect-uri: "${FRONTEND_URL}"
  auth:
    cookie-secure: false         # true in production (HTTPS)
    cookie-same-site: "Lax"      # "None" if frontend on different domain (must be Secure)
    cookie-domain: ${COOKIE_DOMAIN}

  # File Object Storage Config
  storage:
    s3:
      endpoint: ${MINIO_ENDPOINT}
      access-key: ${MINIO_ACCESS_KEY}
      secret-key: ${MINIO_SECRET_KEY}
      region: ${MINIO_REGION:us-east-1}
      bucket: ${MINIO_BUCKET:apsor-media}
      public-base-url: ${MINIO_PUBLIC_BASE_URL:http://localhost:9000} # optional
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  # Swagger documentation
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tryItOutEnabled: true
    persistAuthorization: true
  api-docs:
    path: /v3/api-docs

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.security.oauth2.server.resource: DEBUG
    org.springframework.web: DEBUG

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: when_authorized

  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      # publish histogram buckets for request latency (prometheus-friendly)
      percentiles-histogram:
        http.server.requests: true

      # optional percentiles (computed in app; can increase series)
      percentiles:
        http.server.requests: 0.5,0.95,0.99


