spring:
  application:
    name: apsor
  datasource:
    url: jdbc:postgresql://localhost:5532/apsordb
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: ${KEYCLOAK_CLIENT_ID}
            client-secret: ${KEYCLOAK_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid,profile,email
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URL}
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URL}

keycloak:
  realm: apsor
  public-client-id: ${KEYCLOAK_CLIENT_ID}

app:
  frontend:
    verify-redirect-uri: "${FRONTEND_URL}/email-verified"

