<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Optional: read env vars -->
    <property name="APP_NAME" value="${APP_NAME:-springboot-app}"/>
    <property name="LOGSTASH_HOST" value="${LOGSTASH_HOST:-localhost}"/>
    <property name="LOGSTASH_PORT" value="${LOGSTASH_PORT:-5000}"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>

        <!-- If Logstash is temporarily down -->
        <keepAliveDuration>5 minutes</keepAliveDuration>

        <!-- JSON per line -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"${APP_NAME}","source":"spring-boot"}</customFields>
        </encoder>
    </appender>

    <!-- Keep console too (helpful for debugging) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>